.menu {
  width: 15%;
  list-style: none;
  padding: 0;
  margin-top: 60px;
}

.menu__item {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;
}

.menu__item_drop {
  border: none;
}

.menu__active {
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu__item:first-child {
  padding-top: 0px;
}

.menu__item:last-child {
  border-bottom: none;
}

.menu__button {
  padding: 0;
  border: none;
  border-radius: 9999px;
  background-color: #F18C4F;
  width: 20px;
  height: 20px;
}

.menu__button_click {
  background-color: #FD9E00;
}

.menu__image {
  width: 20px;
  height: 20px;
}

.menu__text {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #F18C4F;
}

.menu__text_open {
  color: #FD9E00;
}

.menu__submenu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.menu__submenu_open {
  display: block;
}