.container {
  max-width: 1216px;
  margin: 0 auto 0;
}

@media screen and (max-width: 1200px){
.container {
  max-width: 1000px;
}
}

@media screen and (max-width: 1000px){
  .container {
    max-width: 800px;
  }
  }