.table__header {
  background: linear-gradient(#94AEC4, #7693AD);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 100;
}

.table__small-cols {
  padding: 6px 10px 6px 10px;
}

.table__big-cols {
  padding: 6px 30px 6px 30px;
}

@media screen and (max-width: 800px){
  .table__header {
    font-size: 8px;
  }

  .table__big-cols {
    padding: 2px 6px 2px 6px;
  }
}