.table {
  width: 65%;
}

.table__up {
  display: flex;
}

.table__question {
  width: 16px;
  height: 16px;
}

.table__question:hover {
  cursor: pointer;
}

.table__heading {
  margin: 0;
  margin-bottom: 12px;
}

.table__table {
  border: 0.5px solid #556979;
  box-shadow: 0px 6px 5px rgba(0, 0, 0 , 0.5);
  border-collapse: separate;
}

td, th {
  border: 0.5px solid #556979;
}
